.accordion-container{
  position: relative;
  width: auto;
  height: auto;
  margin: 5px;
}
.accordion-container > h2{
  text-align: center;
  color: #fff;
  padding-bottom: 5px;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: #3c8dbc;
}
.set > a{
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #FFF;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i.accordion-icon-header{
  position:relative;
  float: right;
  margin-top:4px;
  color: #FFF;
}
.set > a.active{
  background-color:#001a35;
  color: #f39c12;
}
.set > a.active i.accordion-icon-header{
  color: #f39c12;
}
.accordion-set-content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display:none;
}
/*.accordion-set-content p{
  padding: 10px 15px;
  margin: 0;
  color: #333;
}*/

.scrollable-list {
  height: 15em;
  overflow-x: hidden;
}

.accordion-list, .list-container{
	list-style: none;
	list-style-type: none;
}

.accordion-list li, .list-container li{
	display: block;
	margin: 2px 0;
	padding: 0;
	cursor: pointer;
}

.accordion-list li span.drag, .list-container li span.drag{
	cursor: move;
}

.accordion-list li.item-menu,.list-container li.item-menu, .drop-zone li.item-menu{
	display:block;
  width: 99%;
  min-height: 30px !important;
	padding:2px 2px 2px 4px;
	border: 1px solid #f4f4f4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border-left: 4px solid #F7AA17;
	text-decoration: none;
	color: #333;
	background-size: 200% 100%;
  background-image: linear-gradient(to right, #FFF 50%, #F7AA17 50%);
  /*transition: background-position 0.5s;*/
}
.accordion-list li.item-menu:hover{
	background-position: -100% 0;
	color: #fff;
	border: 1px solid #D69C2D;
	padding-left: 6px;
}

.item-menu-add{
	display:block;
  width: auto;
  min-height: 30px !important;
	padding:2px 6px 2px 2px;
	background-color: #3c8dbc;
	color: #fff;
	border: 1px solid #357ca5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	margin:2px 20px;
}

.item-menu-add:hover, .item-menu-add:visited{
	color: #fff;
	background-color: #00a7d0;
}

.accordion-list li.item-page:hover{
	border: 1px solid #00627A;
}

.accordion-list li.item-page{
	background-image: linear-gradient(to right, #FFF 50%, #0073B7 50%);
	border: 1px solid #0073B7;
	border-left: 4px solid #0073B7;
}

.list-container li.item-page{
	border: 1px solid #00627A;
	background-image: none;
	background-color: #0073B7;
}

.accordion-list li.item-button:hover{
	border: 1px solid #007F9E;
}

.accordion-list li.item-button{
	background-image: linear-gradient(to right, #FFF 50%, #00C0EF 50%);
	border: 1px solid #00C0EF;
	border-left: 4px solid #00C0EF;
}

.list-container li.item-button{
	border: 1px solid #007F9E;
	background-image: none;
	background-color: #00C0EF;
}

.accordion-list li.item-product:hover{
	border: 1px solid #0A8C51;
}

.accordion-list li.item-product{
	background-image: linear-gradient(to right, #FFF 50%, #00A65A 50%);
	border: 1px solid #00A65A;
	border-left: 4px solid #00A65A;
}

.list-container li.item-product{
	border: 1px solid #0A8C51;
	background-image: none;
	background-color: #00A65A;
}

.list-container li.item-property{
	border: 1px solid #008548;
	background-image: none;
	background-color: #00A65A;
}


.list-container li.item-menu{
	min-height: 36px !important;
	font-size: 1.2em;
  padding-top: 5px;
	width: 100%;
	color: #FFF;
}

.container-border{
	border: 1px dashed #ccc;
  border-radius: 6px;
}

.container-button{
	height: 96px;
}

.item-menu-ghost{
	box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	-moz-box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	-webkit-box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	margin: 5px 0;
}

.item-menu-chosen{
	box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	-moz-box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	-webkit-box-shadow: 0 5px 6px -3px rgba(0,0,0,.2),0 9px 12px 1px rgba(0,0,0,.14),0 3px 16px 2px rgba(0,0,0,.12);
	margin-left: 10px;
}

.drop-zone{
	padding: 5px;
	width: 100%;
	height: 80px;
}

.drop-zone li.item-menu{
	width: 100%;
	border: 1px solid #8F3529;
	background-image: none;
	background-color: #DD4B39;
	color: #fff;
}

.drop-zone li.removed-item {
    animation: removed-item-animation .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

.sidebar-zone {
	height: 60px;
}

#sidebar_clone_zone li.item-menu{
	border: 1px solid #BF6415;
	background-image: none;
	background-color: #f39c12;
}

@keyframes removed-item-animation {
    from {opacity: 1;transform: scale(1);}
    to {opacity: 0;transform: scale(0);
    }
}

li.restored-item {
    animation:
        openspace .3s ease forwards,
        restored-item-animation .3s .3s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes openspace {
    to {height: auto;}
}

@keyframes restored-item-animation {
    from {opacity: 0;transform: scale(0);}
    to {opacity: 1;transform: scale(1);
    }
}

.item-menu-edit,.item-menu-edit:visited, .item-menu-delete,.item-menu-delete:visited, .page-menu-main{
  font-size: 1.2em;
  padding: 0;
  color: #FFF;
  margin: 0 5px;
}

.item-menu-edit:hover, .item-menu-delete:hover, .page-menu-main:hover{
	color: #EDED1C;
}

.item-menu-spec{
	color:#B5ED6B;
	margin: 0 3px;
}

.bg-transparent{
	background-color: transparent;
}

.list-height-auto{
	height: auto;
	min-height: 40px !important;
}

.small-box .icon{
	font-size: 3.5em;
}
.item-unavailable{
	opacity: 0.65;
}
