.button-preview {
	border: 4px solid #fff;
	cursor: pointer;
	height: 180px;
	margin: 5px auto;
	position: relative;
	overflow: hidden;
	width: 80%;
	display: block;
	text-align: center;
	-webkit-box-shadow: 1px 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px 1px #ccc;
}

.button-preview-image {
	position: absolute;
	left: 0;
	top:0;
	margin:0;
	padding:0;
	height: 100%;
	width:  100%;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.button-preview-caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	-ms-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	left: 0;
	height: 30px;
	width: 100%;
	display: block;
	bottom: -30px;
	line-height: 25px;
	font-size: 1.2em;
	text-align: center;
}

.button-preview:hover .button-preview-caption {
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.button-preview-circular-image{
 margin; 0 auto;
 width: 120px;
 height: 120px;
 border: none;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 padding: 4px;
}

.button-preview-circular{
	display: block;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 80%;
}

.button-preview-circular a{
	padding: 20px 0 0 30px;
	color: #333;
}

.button-preview-circular:hover{
	cursor: pointer;
}

.button-preview-circular:hover .button-preview-circular-image{
	border: 2px solid #DD4B39;
	padding: 6px;
}

.button-preview-circular:hover a, .button-preview-circular a:hover{
	color: #DD4B39;
}

.color-white{
	color: #FFF;
}


figure.preview-product {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 5px 0;
  width: 100%;
  background: #000000;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.preview-product * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.preview-product img {
  max-width: 100%;
  vertical-align: top;
}
figure.preview-product figcaption {
  position: relative;
  background-color: #ffffff;
  padding: 20px 25px 50px;
}
figure.preview-product h3 {
  position: absolute;
  bottom: 100%;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 0 5px 0 0;
  margin: 0;
  left: 0;
  font-weight: 400;
  background-color: #000000;
  color: #ffffff;
}
figure.preview-product h3 span {
  font-weight: 800;
}
figure.preview-product p {
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
}
figure.preview-product .icons {
  position: absolute;
  bottom: 0;
  right: 25px;
}
figure.preview-product i {
  margin: 0 2px;
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #000000;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px 5px 0 0;
}
figure.preview-product i:hover {
  background-color: #000000;
  color: white !important;
}

figure.preview-product a {
  opacity: 0.8;
  display: inline-block;
}
figure.preview-product a:hover {
  opacity: 1;
}

span.preview-product-price{
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #000;
	width: 60px;
	font-weight: bold;
	text-align: center;
	font-variant: italic;
}

figure.preview-product.blue {
  background-color: #2472a4;
}
figure.preview-product.blue figcaption:after,
figure.preview-product.blue h3,
figure.preview-product.blue i {
  background-color: #2472a4;
}
figure.preview-product.red {
  background-color: #ab3326;
}
figure.preview-product.red figcaption:after,
figure.preview-product.red h3,
figure.preview-product.red i {
  background-color: #ab3326;
}
figure.preview-product.green {
  background-color: #229955;
}
figure.preview-product.green figcaption:after,
figure.preview-product.green h3,
figure.preview-product.green i {
  background-color: #229955;
}
figure.preview-product.orange {
  background-color: #d67118;
}
figure.preview-product.orange figcaption:after,
figure.preview-product.orange h3,
figure.preview-product.orange i {
  background-color: #d67118;
}
figure.preview-product.navy {
  background-color: #2b3c4e;
}
figure.preview-product.navy figcaption:after,
figure.preview-product.navy h3,
figure.preview-product.navy i {
  background-color: #2b3c4e;
}
figure.preview-product:hover img,
figure.preview-product.hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
